<header class="dark:bg-blue-950">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between ">
      <a href="#" class="flex items-center rtl:space-x-reverse">
        <img src="./assets/alarado-icon-homepage.svg" alt="logo">
      </a>
      <button data-collapse-toggle="navbar-default" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="#"
              class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500"
              aria-current="page">Home</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
          </li>
          <li>
            <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </li>
        </ul>
        <label class="relative inline-flex items-center cursor-pointer md:hidden">
          <input type="checkbox" [(ngModel)]="checkbox" class="sr-only peer" (ngModelChange)="cambiarValor($event)">
          <div
            class="flex gap-1 w-11 h-6 bg-gray-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-100 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600">
            <img src="{{url}}" alt="" class="w-5 z-10">
            <img src="./assets/Sun_fill.svg" alt="" class="w-4 z-10">
          </div>
        </label>
      </div>
      <label class="relative inline-flex items-center cursor-pointer max-sm:hidden">
        <input type="checkbox" [(ngModel)]="checkbox" class="sr-only peer" (ngModelChange)="cambiarValor($event)">
        <div
          class="flex gap-1 w-11 h-6 bg-gray-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-100 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600">
          <img src="{{url}}" alt="" class="w-5 z-10">
          <img src="./assets/Sun_fill.svg" alt="" class="w-4 z-10">
        </div>
      </label>
    </div>

  </nav>
</header>

<main>
  <section class="py-12 dark:bg-blue-950">
    <div class="container flex flex-col md:flex-row">
      <div class="order-2 md:order-1 md:w-1/2 justify-center align-middle py-7">
        <span class="font-bold text-sm">{{label_top | uppercase}}</span>
        <p class="flex font-bold text-6xl text-slate-800 leading-normal dark:text-slate-50">Actions for</p>
        <p class="flex font-bold text-6xl text-slate-800 leading-normal dark:text-slate-50">Accessibility</p>
        <p class="flex font-bold text-6xl text-slate-800 leading-normal dark:text-slate-50">in Design</p>
        <p class="flex font-semibold text-sm text-slate-400 pt-6">The fastest way to build and deploy websites with
        </p>
        <p class="flex font-semibold text-sm text-slate-400">reusable components.
        </p>
        <div class="flex items-center py-5 gap-8">
          <button type="button"
            class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-6 py-3 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">GET
            STARTED</button>
          <li class="list-none underline font-bold text-blue-700 underline-offset-4 decoration-2 text-sm">
            <a href="http://" target="_blank" rel="noopener noreferrer">Get live demo</a>
          </li>
        </div>
        <ul class="flex flex-row gap-8">
          <li class="flex flex-row gap-1 items-center text-sm text-slate-500 "><img
              src="./assets/Done_ring_round_fill.svg" class="w-5" alt="check">No
            credit card
            required
          </li>
          <li class="flex flex-row gap-1 items-center text-sm text-slate-500 "><img
              src="./assets/Done_ring_round_fill.svg" class="w-5" alt="check">No
            software to install</li>
        </ul>

      </div>
      <div class="order-1 md:order-2 md:w-1/2">
        <img src="./assets/hero-image-simple-homepage.png" alt="hero-image" class="w-full h-auto">
      </div>
    </div>

  </section>
</main>