<header class="flex justify-between ">
  <div><img src="./assets/alarado-icon-homepage.svg" alt="logo"></div>
  <nav>
    <ul class="flex gap-4">
      <li class="font-bold text-sm">About us</li>
      <li class="text-slate-400 font-bold text-sm">Product</li>
      <li class="text-slate-400 font-bold text-sm">Resource</li>
      <li class="text-slate-400 font-bold text-sm">Contact</li>
    </ul>
  </nav>
  <label class="relative inline-flex items-center cursor-pointer">
    <input type="checkbox" [(ngModel)]="checkbox" class="sr-only peer" (ngModelChange)="cambiarValor($event)">
    <div
      class=" flex gap-1 w-11 h-6 bg-gray-900 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-100 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 ">
      <img src="{{url}}" alt="" class="w-5 z-10">
      <img src="./assets/Sun_fill.svg" alt="" class="w-4 z-10">
    </div>
  </label>
</header>
<main>
  <section>

  </section>
</main>