@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo {
  background-color: #111729;
}
@layer components {
  .close-menu {
    background-image: url("../assets/close_menu.svg");
  }
  .open-menu {
    background-image: url("../assets/open-menu.svg");
  }
  .open-menu-dark {
    background-image: url("../assets/open-menu-dark.svg");
  }
  .close-menu-dark {
    background-image: url("../assets/close_menu_dark.svg");
  }
}
